* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --color-primary: #f6641b;
  --color-secondary: #ffd9c5;
  --bg-color: #f6f5fb;
  --green: #77bb1d;
  --gray: rgb(129, 128, 128);
  --light-gray: rgb(228, 228, 228);
}